.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F6F9;
}

h1 {
    font-weight: 300;
    color: #54698d;
}

.web-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-clip: padding-box;
    border: solid 1px #d8dde6;
    padding: 16px 28px;
    width: 35rem;
    color: #54698d;
    background-color: #fff;
}

.web-form > * {
    margin: 6px 0px 8px 0px;
}

.web-form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea {
    border-radius: 5px;
    background-color: #fff;
    color: #54698d;
    height: 40px;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border: solid 1px #d8dde6;
}

.web-form-field > :first-child {
    padding-left: 4px;
    margin-bottom: 5px;
}

.web-form-field-name {
    display: flex;
}

.web-form-field-name > * {
    flex: 1 1 0;
}

.web-form-field-name > :first-child {
    margin-right: 15px;
}

.button {
    margin: 0 auto;
    background: #006DD5;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    position: relative;
    cursor: pointer;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
body {
    width: 35rem;
} */