body {
    background-color: #F4F6F9;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 300;
    color: #54698d;
}

.web-form {
    background-clip: padding-box;
    border: solid 1px #d8dde6;
    padding: 16px 28px;
    width: 35rem;
    color: #54698d;
    background-color: #fff;
}

.web-form, .web-form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.web-form-section > * {
    margin: 6px 0px 8px 0px;
}

#billing-address, #shipping-address, #summary-info {
    display: none;
}

.web-form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea {
    border-radius: 10px;
    background-color: #fff;
    color: #54698d;
    height: 40px;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border: solid 1px #d8dde6;
    outline: none;
}

textarea {
    resize: vertical;
}

.has-error {
    border: solid 2px #ac050e;
}

input:focus {
    border: solid 2px #8d9dc9;
}

.web-form-field > :first-child {
    padding-left: 4px;
    margin-bottom: 5px;
}

.web-form-field-name {
    display: flex;
}

.web-form-field-name > * {
    flex: 1 1 0;
}

.web-form-field-name > :first-child {
    margin-right: 15px;
}

.web-form-section-buttons, .web-form-section-summary-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background: #006DD5;
    color: #fff;
    width: auto;
    text-align: center;
    padding: 10px 40px;
    position: relative;
    cursor: pointer;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.next-button {
    margin-left: auto;
}

.prev-button {
    margin-right: auto;
}

#shipping-open-checkbox {
    height: 14px;
}

.required {
    color: red;
}

.web-form-section-summary-field {
    margin: 0;
}

.final-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 132px;
    background-color: #fff;
    color: #839cc7;
    height: 15rem;
    width: 35rem;
    padding: 10px;
    background: rgba(255,255,255,0.1);
    border: solid 3px #d8dde6;
    margin: auto;
    margin-top: 15rem;
}

.final-container > * {
    align-self: start;
    margin-left: 5rem;
}